---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - agenticworkforces
  - agents
  - toolservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - agenticworkforces/finalizers
  - agents/finalizers
  - toolservers/finalizers
  verbs:
  - update
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - agenticworkforces/status
  - agents/status
  - toolservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - aigateways
  - operatorconfigurations
  - toolgateways
  verbs:
  - get
  - list
  - watch
